# Ejercicios de Sumatorias y Diccionarios en Python

## I. Ejercicios de Sumatorias

---

### Ejercicio 1 (resuelto)

Calcule la siguiente sumatoria:

$$
\sum_{k=1}^{n} k
$$

#### Solución matemática

Se utiliza la fórmula de la suma de los primeros \( n \) números naturales:

$$
\sum_{k=1}^{n} k = \frac{n(n+1)}{2}
$$

#### Solución en Python

In [ ]:
def suma_naturales(n):
    return n * (n + 1) // 2

print(suma_naturales(10))

55

---

### Ejercicio 2 (resuelto)

Calcule la siguiente sumatoria:

$$
\sum_{k=1}^{n} (2k - 1)
$$

#### Solución matemática

Esta expresión corresponde a la suma de los primeros \( n \) números impares:

$$
\sum_{k=1}^{n} (2k - 1) = n^2
$$

#### Solución en Python

In [ ]:
def suma_impares(n):
    return sum(2*k - 1 for k in range(1, n + 1))

print(suma_impares(10))

100

---

### Ejercicios Propuestos (3 al 15)

3. $$ \sum_{k=1}^{n} k^2 $$
4. $$ \sum_{k=1}^{n} k^3 $$
5. $$ \sum_{k=0}^{n} 2^k $$
6. $$ \sum_{k=1}^{n} \frac{1}{k} $$
7. $$ \sum_{k=1}^{n} (3k + 2) $$
8. $$ \sum_{k=1}^{n} (k^2 - k) $$
9. $$ \sum_{k=1}^{n} \frac{k}{k+1} $$
10. $$ \sum_{k=1}^{n} (-1)^k $$
11. $$ \sum_{k=1}^{n} (2k)^2 $$
12. $$ \sum_{k=1}^{n} \frac{1}{2^k} $$
13. $$ \sum_{k=1}^{n} k(k+1) $$
14. $$ \sum_{k=1}^{n} k! $$
15. $$ \sum_{k=1}^{n} \ln(k) $$

---

## II. Ejercicios de Diccionarios en Python

1. Cree un diccionario con los nombres de cinco estudiantes como claves y sus calificaciones finales como valores. Calcule el promedio.
2. Dado un diccionario de productos y precios, incremente todos los precios en un 10%.
3. Escriba un programa que determine la clave asociada al valor máximo en un diccionario numérico.
4. Invierta las claves y valores de un diccionario (asuma que los valores son únicos).
5. Dado un diccionario con palabras y su frecuencia, elimine las palabras con frecuencia menor que 3.
6. Combine dos diccionarios sumando los valores de las claves comunes.
7. Ordene un diccionario por sus valores de forma ascendente.
8. Verifique si una clave ingresada por el usuario existe en un diccionario dado.

---

## III. Ejercicios de Multiplicación de Diccionarios en Python

(Se entiende por multiplicación la operación valor a valor entre diccionarios con claves comunes).

1. Dados dos diccionarios con las mismas claves y valores numéricos, construya un tercer diccionario donde cada valor sea el producto de los valores correspondientes.
2. Multiplique todos los valores de un diccionario por un escalar dado.
3. Dado un diccionario que representa dos vectores con las mismas claves, calcule su producto punto:
   
   $$
   \sum_{i} v_i \cdot w_i
   $$

4. Dado un diccionario de precios y otro de cantidades, calcule el costo total por producto y el costo total general.

# Soluciones sumatorias

3. $$ \sum_{k=1}^{n} k^2 $$

In [ ]:
def suma_cuadrada(n):
  return sum (k**2 for k in range(1,n+1))
print(suma_cuadrada(10))

385

4. $$ \sum_{k=1}^{n} k^3 $$

In [ ]:
def suma_cubo(n):
  return sum(k**3 for k in range(1,n+1))
print(suma_cubo(10))

3025

5. $$ \sum_{k=0}^{n} 2^k $$

In [ ]:
def suma_pot(n):
  return sum(2**k for k in range(0,n+1))
print(suma_pot(4))

31

6. $$ \sum_{k=1}^{n} \frac{1}{k} $$

In [ ]:
def sum_div(n):
  return sum(1/k for k in range(1,n+1))
print(sum_div(10))

2.9289682539682538

7. $$ \sum_{k=1}^{n} (3k + 2) $$

In [ ]:
def sum_tet(n):
  return sum(3*k+2 for k in range(1,n+1))
print(sum_tet(3))

24

8. $$ \sum_{k=1}^{n} (k^2 - k) $$

In [ ]:
def sum_exp(n):
  return sum(k**2-k for k in range(1,n+1))
print(sum_exp(3))

8

9. $$ \sum_{k=1}^{n} \frac{k}{k+1} $$

In [ ]:
def sum_expf(n):
  return sum(k/(k+1) for k in range(1,n+1))
print(sum_expf(3))

1.9166666666666665

10. $$ \sum_{k=1}^{n} (-1)^k $$

In [ ]:
def sum_np(n):
  return sum((-1)**k for k in range(1,n+1))
print(sum_np(4))

0

11. $$ \sum_{k=1}^{n} (2k)^2 $$

In [ ]:
def sum_pc(n):
  return sum((2*k)**2 for k in range(1,n+1))
print(sum_pc(5))

220

12. $$ \sum_{k=1}^{n} \frac{1}{2^k} $$

In [ ]:
def sum_fdp(n):
  return sum(1/2**k for k in range(1,n+1))
print(sum_fdp(2))

0.75

13. $$ \sum_{k=1}^{n} k(k+1) $$

In [ ]:
def sum_pf(n):
  return sum(k*(k+1) for k in range(1,n+1))
print(sum_pf(3))

20

14. $$ \sum_{k=1}^{n} k! $$

In [ ]:
import math

def sum_fac(n):
  return sum(math.factorial(k) for k in range(1,n+1))
print(sum_fac(4))

33

15. $$ \sum_{k=1}^{n} \ln(k) $$

In [ ]:
def sum_log(n):
  return sum(math.log(k) for k in range(1,n+1))
print(sum_log(4))

3.1780538303479458

## II. Ejercicios de Diccionarios en Python

1. Cree un diccionario con los nombres de cinco estudiantes como claves y sus calificaciones finales como valores. Calcule el promedio.

In [ ]:
Est={
    "Manu":5,
    "Alejo":3,
    "Fercho":5,
    "Pipe":5,
    "Daniel":4
}
nota=0
for x in Est:
  nota+=Est[x]/5
print(nota)

4.4

2. Dado un diccionario de productos y precios, incremente todos los precios en un 10%.

In [ ]:
Tienda={
    "Pan":50000,
    "Arroz":10000,
    "Pollo":20000,
    "Harina":7000,
    "Leche":3000
}
for x in Tienda:
  Tienda[x]+=Tienda[x]*0.10

Tienda

{'Pan': 55000.0,
 'Arroz': 11000.0,
 'Pollo': 22000.0,
 'Harina': 7700.0,
 'Leche': 3300.0}

3. Escriba un programa que determine la clave asociada al valor máximo en un diccionario numérico.

In [ ]:
def value_max():
  max=0
  value=""
  for x in Tienda:
    if max < Tienda[x]:
      max = Tienda[x]
      value=x
  return value
print(value_max())

Pan

4. Invierta las claves y valores de un diccionario (asuma que los valores son únicos).

In [ ]:

Tienda2={}
for x,y in Tienda.items():
  Tienda2[y]=x

Tienda2

{55000.0: 'Pan',
 11000.0: 'Arroz',
 22000.0: 'Pollo',
 7700.0: 'Harina',
 3300.0: 'Leche'}

5. Dado un diccionario con palabras y su frecuencia, elimine las palabras con frecuencia menor que 3.

In [ ]:
frecuencias = {
    "python": 5,
    "java": 2,
    "c++": 1,
    "javascript": 4,
    "html": 3,
    "css": 2,
    "sql": 6
}
frecuencias2={}
for x,y in frecuencias.items():
  if y>3:
    frecuencias2[x]=y
frecuencias2

{'python': 5, 'javascript': 4, 'sql': 6}

6. Combine dos diccionarios sumando los valores de las claves comunes.

In [ ]:
dic1 = {
    "manzanas": 10,
    "naranjas": 5,
    "peras": 7,
    "platanos": 3
}

dic2 = {
    "naranjas": 4,
    "peras": 2,
    "kiwis": 6,
    "manzanas": 1
}

resultado={}
for x,y in dic1.items():
    resultado[x]=y

for x,y in dic2.items():
  if x in resultado:
    resultado[x] = resultado[x] + y
  else:
    resultado[x]=y
resultado

{'manzanas': 11, 'naranjas': 9, 'peras': 9, 'platanos': 3, 'kiwis': 6}

7. Ordene un diccionario por sus valores de forma ascendente.

In [ ]:
from typing import Dict
notas = {
    "Ana": 85,
    "Luis": 92,
    "Marta": 78,
    "Carlos": 90,
    "Sofía": 88
}

notas_ord=dict(sorted(notas.items(),key = lambda x: x[1]))
notas_ord

{'Marta': 78, 'Ana': 85, 'Sofía': 88, 'Carlos': 90, 'Luis': 92}

8. Verifique si una clave ingresada por el usuario existe en un diccionario dado.

In [ ]:
inventario = {
    "manzanas": 10,
    "naranjas": 5,
    "peras": 7,
    "platanos": 3,
    "kiwis": 6
}

fruta = input("Ingrese el nombre de la fruta: ")

if fruta in inventario:
    print("La fruta está en el inventario.")
else:
    print("La fruta NO está en el inventario.")

Ingrese el nombre de la fruta: pollo
La fruta NO está en el inventario.

## III. Ejercicios de Multiplicación de Diccionarios en Python

1. Dados dos diccionarios con las mismas claves y valores numéricos, construya un tercer diccionario donde cada valor sea el producto de los valores correspondientes.

In [ ]:
dic1 = {
    "a": 2,
    "b": 5,
    "c": 3,
    "d": 4
}

dic2 = {
    "a": 7,
    "b": 2,
    "c": 6,
    "d": 3
}

dic3={}

for x,y in dic1.items():
    dic3[x]=y

for x,y in dic2.items():
  if x in dic3:
    dic3[x] = dic3[x] * y
  else:
    dic3[x]=y

dic3

{'a': 14, 'b': 10, 'c': 18, 'd': 12}

In [ ]:
dic3 = {k: dic1[k] * dic2[k] for k in dic1}

dic3

{'a': 14, 'b': 10, 'c': 18, 'd': 12}

2. Multiplique todos los valores de un diccionario por un escalar dado.

In [ ]:
precios = {
    "manzanas": 10,
    "naranjas": 5,
    "peras": 7,
    "platanos": 3
}

escalar = 2

for x in precios:
  precios[x]*=escalar

precios

{'manzanas': 20, 'naranjas': 10, 'peras': 14, 'platanos': 6}

3. Dado un diccionario que representa dos vectores con las mismas claves, calcule su producto punto: $$ \sum_{i} v_i \cdot w_i $$

In [ ]:
v = {
    "x": 2,
    "y": 3,
    "z": 4
}

w = {
    "x": 5,
    "y": 6,
    "z": 7
}

sum=0
for x in v:
  sum+= v[x]*w[x]

print(sum)

56

4. Dado un diccionario de precios y otro de cantidades, calcule el costo total por producto y el costo total general.

In [ ]:
precios = {
    "manzanas": 2.5,
    "naranjas": 3.0,
    "peras": 1.8,
    "platanos": 2.0
}

cantidades = {
    "manzanas": 4,
    "naranjas": 3,
    "peras": 5,
    "platanos": 6
}
ppc = {}
total = 0

for k in precios:
    ppc[k] = precios[k] * cantidades[k]
    total += ppc[k]

print(ppc)
print(total)

{'manzanas': 10.0, 'naranjas': 9.0, 'peras': 9.0, 'platanos': 12.0}
40.0